[submodule "pack/personal/start/racket"]
	path = pack/personal/start/racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "pack/personal/start/nerdtree"]
	path = pack/personal/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/personal/start/matchit"]
	path = pack/personal/start/matchit
	url = https://github.com/chrisbra/matchit.git
    ignore = dirty
[submodule "pack/personal/start/OmniCppComplete"]
	path = pack/personal/start/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
    ignore = dirty
[submodule "pack/personal/start/taglist"]
	path = pack/personal/start/taglist
	url = https://github.com/yegappan/taglist.git
